{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="flex justify-center">
        <div class="mt-12 bg-gray-100 border border-1 border-gray-300 rounded py-8 px-6 text-xl w-full md:w-1/2 xl:w-2/5">
                <div class="mb-4">
                    <label for="inputUsername" class="block mb-2">
                        Nom d'utilisateur
                    </label>
                    <input
                        type="text" 
                        value="{{ last_username }}" 
                        name="username" 
                        id="inputUsername" 
                        required
                        autofocus
                        class="block border border-1 border-gray-400 w-full rounded py-2 px-3" 
                        >
                </div>

                <div class="mb-8">
                    <label for="inputPassword" class="block mb-2">
                        Mot de passe
                    </label>
                    <input 
                        type="password"
                        name="password"
                        id="inputPassword"
                        required
                        class="block border border-1 border-gray-400 w-full rounded py-2 px-3"
                        >
                </div>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                <button class="block py-2 px-3 text-white bg-blue-700 bg-opacity-100 hover:bg-opacity-75 rounded w-full text-center" type="submit">
                    Se connecter
                </button>
        </div>
    </div>
</form>
{% endblock %}
